<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="939fd1">  <td>19/05/16 16:00:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotation.closeApp()[pri:0, instance:leaftaps.TC001_CreateLead@3abbfa04]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1383547042</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>19/05/16 16:00:16</td>   <td>-8308</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_CreateLead.createLead()[pri:0, instance:leaftaps.TC001_CreateLead@3abbfa04]">createLead</td> 
  <td>main@1383547042</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>19/05/16 15:59:45</td>   <td>-39147</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotation.startApp()[pri:0, instance:leaftaps.TC001_CreateLead@3abbfa04]">&gt;&gt;startApp</td> 
<td>&nbsp;</td>  <td>main@1383547042</td>   <td></td> </tr>
</table>
