<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b3acfe">  <td>19/05/16 17:09:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotation.startApp(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:leaftaps.TC001_CreateLead@5f341870]">&gt;&gt;startApp</td> 
<td>&nbsp;</td>  <td>main@1795799895</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>19/05/16 17:10:02</td>   <td>7928</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_CreateLead.createLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:leaftaps.TC001_CreateLead@5f341870]">createLead</td> 
  <td>main@1795799895</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>19/05/16 17:10:06</td>   <td>12629</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotation.closeApp()[pri:0, instance:leaftaps.TC001_CreateLead@5f341870]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1795799895</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>19/05/16 17:10:09</td>   <td>14727</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotation.startApp(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:leaftaps.TC001_CreateLead@5f341870]">&gt;&gt;startApp</td> 
<td>&nbsp;</td>  <td>main@1795799895</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>19/05/16 17:10:15</td>   <td>20852</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_CreateLead.createLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:leaftaps.TC001_CreateLead@5f341870]">createLead</td> 
  <td>main@1795799895</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>19/05/16 17:10:19</td>   <td>25099</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotation.closeApp()[pri:0, instance:leaftaps.TC001_CreateLead@5f341870]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1795799895</td>   <td></td> </tr>
</table>
